networks:
  mainNet: 
    driver: bridge
    name: mainNet
    enable_ipv6: true 
    ipam:
      config:
        - subnet: fde4:492a:fc7f::/48

services:
  ircd:
    image: ghcr.io/deavmi/unrealircd-docker:master
    container_name: ircd
    restart: unless-stopped
    networks:
      - mainNet
    volumes:
      # Configuration
      - /mnt/datadisk/volumes/ircd/:/home/unreal/ircd/conf/
      
      # Makes timezone and time information available
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      # Client-to-server access
      - "6667:6667"
      - "6697:6697"
      
      # Server-to-server peering
      - "6900:6900"
